/*! normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
.snippet,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}audio,canvas,video{display:inline-block;*display:inline;*zoom:1}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}html,button,input,select,textarea{font-family:sans-serif}body{margin:0}a:focus{outline:thin dotted}a:hover,a:active{outline:0}h1{font-size:2em;margin:.67em 0}h2{font-size:1.5em;margin:.83em 0}h3{font-size:1.17em;margin:1em 0}h4{font-size:1em;margin:1.33em 0}h5{font-size:.83em;margin:1.67em 0}h6{font-size:.75em;margin:2.33em 0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}blockquote{margin:1em 40px}dfn{font-style:italic}mark{background:#ff0;color:#000}p,pre{margin:1em 0}pre,code,kbd,samp{font-family:monospace,serif;_font-family:'courier new',monospace;font-size:1em}pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}q{quotes:none}q:before,q:after{content:'';content:none}small{font-size:75%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}dl,menu,ol,ul{margin:1em 0}dd{margin:0 0 0 40px}menu,ol,ul{padding:0 0 0 40px}nav ul,nav ol{list-style:none;list-style-image:none}img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}figure{margin:0}form{margin:0}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal;*margin-left:-7px}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}button,input{line-height:normal}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;*overflow:visible}button[disabled],input[disabled]{cursor:default}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;*height:13px;*width:13px}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-decoration,input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}

[data-icon]:before { font-family:'Pictos Custom'; content:attr(data-icon); font-weight:normal !important; -webkit-font-smoothing:antialiased; }
* {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
}
html {
	height:100%;
	min-height:100%;
	/*font:100%/1.5 'Roboto Condensed', 'Helvetica Neue', Arial, sans-serif;*/
	font:100%/1.5 'Helvetica Neue', Arial, sans-serif;
	line-height:1.5;
	color:white;
	background:rgba(0,0,0,0.35);
	letter-spacing:normal;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.05);
}
body {
	width:100%;
	height:100%;
	position:relative;
}
::selection {
	background:#d25a02;
	color:white;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.05);
}
::-moz-selection {
	background:#d25a02;
	color:white;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.05);
}

.cf:before, .cf:after { content:""; display:table; }
.cf:after, .clear { clear:both; }
.cf { *zoom:1; }

a {
	color:#040407;
	text-decoration:none;
	padding:0 0 .15em;
	border-bottom:1px solid #040407;
	font-weight:bold;
	/*background:white;*/
	text-shadow:none;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
a:hover {
	border:0;
}

li, p {
	font:100%/1.5 'Helvetica Neue', Arial, sans-serif;
}

h1, h2, h3, h4, p, ul, ol {
	margin:0 0 1em;
}
header {
	position:fixed;
	z-index:2;
	bottom:0;
	left:0;
	width:100%;
	padding:.25em 0;
	background:#040407;
	/*background:rgba(255,255,255,0.75);
	box-shadow:0 -1px 3px rgba(0,0,0,0.25), 0 -1px 25px rgba(0,0,0,0.15);*/
	color:yellow;
	text-shadow:none;
}
header h1 {
	line-height:1.3;
	padding:0 0 .15em .75em;
	margin:0;
	position:relative;
	opacity:.5;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	transition:all .2s ease-out;
}
header h1:hover, header h1:focus {
	opacity:.9;
}
h1 a {
	position:absolute;
	top:2em;
	right:1.5em;
	font-size:50%;
	border:0;
	color:yellow;
	/*background:yellow;*/
}
header em {
	font-style:normal;
	display:none;
}
h1 > span {
	font-size:150%;
	position:relative;
	top:.15em;
	opacity:.65;
}
h1 a span {
	position:relative;
	font-size:150%;
	top:-.1em;
	line-height:1;
	padding:.15em;
}
h1 a:active {
	opacity:.5;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	transition:none;
}
pre {
	font-size:12px;
	padding:0 0 1em;
	display:none;
	/*background:rgba(255,255,255,0.05);*/
}
textarea {
	width:50%;
	border:0;
	padding:1em;
	margin:0;
	outline:none;
	overflow:hidden;
	overflow-y:scroll;
	font-family:monospace;
	color:yellow;
	padding:2em;
	min-height:100%;
	height:auto;
	font-size:110%;
	-webkit-transition:all .2s ease-out;
	-moz-transition:all .2s ease-out;
	-ms-transition:all .2s ease-out;
	transition:all .2s ease-out;
	float:left;
	/*border:5px solid #666;*/
	border-radius:0;
	background:#444;
	position:relative;
	z-index:1;
	box-shadow:0 1px 3px rgba(0,0,0,0.5) inset, 0 1px 25px rgba(0,0,0,0.35) inset, 0 1px 50px rgba(0,0,0,0.25) inset;
}
textarea:focus, textarea:active {
	background:#333;
	/*text-shadow:0 0 1px rgba(255,255,0,0.25), 0 0 5px rgba(255,255,0,0.15), 0 0 20px rgba(255,255,0,0.1);*/
}
.wmd-preview {
	float:right;
	width:50%;
	min-height:100%;
	height:auto;
	padding:2em;
	text-shadow:none;
	letter-spacing:-.07em;
	/*color:white;
	text-shadow:0 1px 0 rgba(0,0,0,0.2), 0 2px 1px rgba(0,0,0,0.1), 0 3px 2px rgba(0,0,0,0.05);*/
	text-shadow:none;
	color:#888;
	background:white;
}
.wmd-preview img {
	max-width:100%;
}
.wmd-preview p, .wmd-preview li {
	letter-spacing:normal;
}
.wmd-preview * {
	margin:0 0 15px;
}
.wmd-preview li {
	margin-bottom:3px;
}
.wmd-preview h1 {
	border:0;
	padding:0;
	line-height:1.2;
}
@media screen and (min-width:550px) {
	header em {
		display:;
		position:relative;
		top:-.5em;
		left:-.25em;
	}
}
@media screen and (min-height:650px) {
	textarea {
		font-size:135%;
	}
}
@media screen and (max-width:650px) {
	textarea {
		font-size:110%;
	}
}
@media screen and (max-width:600px) {
	html {
		background:white;
	}
	textarea, .wmd-preview {
		width:100%;
		height:50%;
		min-height:auto;
	}
	textarea {
		height:20%;
		min-height:50%;
	}
	header {
		position:relative;
	}
	h1 {
		font-size:125%;
	}
	h1 a span {
		font-size:200%;
	}
	
}